numpy==2.2.6
scipy==1.14.1
pandas==2.2.3
h5py==3.12.1
mne==1.13.2
scikit-learn==1.6.1
torch==2.5.1
torchvision==0.20.1
x-transformers==1.43.4
pydantic==2.10.6
transformers==4.51.3
tokenizers==0.21.1
accelerate==1.6.0
sentencepiece==0.2.0
huggingface-hub==0.30.2
pytest==8.3.5
jupyterlab==4.6.4
nbclient==0.10.4
matplotlib==3.10.9
